<html>

<head>
<style>
table {
   font-family: arial, sans-serif;

   width: 100%;
}

td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding-left: 10px;
}
th
{
background: rgb(120, 129, 178);
   color: white;
}
</style>
</head>
<body>
      <p style="font-weight: bold;">Subject: Leave Request ${status}</p>
    <p style="font-weight: bold;">Dear ${firstName} ${lastName},</p>
    <p>Your request for a leave of absence from ${fromDate} until ${toDate} has been ${status}.</p>
   
    <div>Yours sincerely</div>
    
     <div style="font-weight: bold;">${firstName1} ${lastName1}</div><br>
    
    <div>${signature}</div>
    <div>${location}</div>

</body>

</html>